.info-area {
    position: absolute;
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: monospace;
    font-size: 24px;
}

.info-area p {
    display: inline-block;
    margin: 0;
}

.info-area img {
    width: 640px;
    height: 360px;
    border-radius: 10px;
    margin-top: 10px;
}

.special-event-area {
    opacity: 0;

    position: absolute;
    top: 50px;
    left: 485px;
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    background-color: #ffc41cc7;
    white-space: normal;
    word-break: break-word;
    border-radius: 20px;
    padding: 5px;
}

.special-event-area.active {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    opacity: 1;
}

.special-event-area.inactive {
    animation-name: fadeOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    opacity: 0;
}

@keyframes fadeIn {
    0% {opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

svg {
    outline: 4px solid black;
}
