.info-area {
    position: absolute;
    width: 640px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: monospace;
    font-size: 24px;
}

.info-area p {
    display: inline-block;
    margin: 0;
}

.info-area img {
    width: 640px;
    height: 360px;
    border-radius: 10px;
    margin-top: 10px;
}

svg {
    outline: 4px solid black;
}
